.adressSelector{
    display: flex;
    flex-direction: column;
    width: 40%;
    &__container{
        display: flex;
        flex-direction: column;
    }
    &__field{
        display: flex;
        width: 100%;

    }
    &__input{
        font-size: large;
        padding:.5%;
        background:none;
        border:none;
        border-bottom: 1px solid black;
        margin:1%;
    }

    &__button{
        font-size: larger;
        background:none;
        border:none;
        border:1px solid gray;
        border-radius: 10px;
        margin:1%;
        width: 50%;
        padding: 2%;
        transition: .5s ease-in-out;
        &:hover{
            cursor: pointer;
            border:1px solid black;
        }
    }
}