$bgurl: "https://wallpapersprinted.com/download/2/coffee_break-wallpaper-2560x1600.jpg";

.toLeft{
  width: 100%;
  position: relative;
  left: 0%;
  color: black;
}

.signIn {
    display: flex;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url($bgurl);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    &__formulee {
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: rgba($color: white, $alpha: 0.8);
      //backdrop-filter: blur(5px) brightness(120%);
      padding: 5% 5% 2% 5%;
      border: 1px solid #999;
      border-radius: 15px;
    }
    &__button {
        font-family: Roboto;
        font-weight: 700;
        font-size: 2vh;
        align-content: center;
        padding: 2%;
        width: 100%;
        border-radius: 10px;
        border: 1px #999 solid;
        background-color: white;
        transition: background-color 0.3s;
        &:hover {
            border-color: cornflowerblue;
            background-color: darken($color: white, $amount: 4);
            cursor: pointer;
        }
      }

      //a'la material design
  &__field {
    position: relative;
    margin-bottom: 45px;
    width: 100%;
  }

  &__input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575;
    background-color: rgba($color: #000000, $alpha: 0);
    &:focus {
      outline: none;
      //background-color: darken($color: white, $amount: 3);
    }
  }

  &__input:focus ~ label,
  &__input:valid ~ label
  {
    top: -20px;
    font-size: 14px;
    color: cornflowerblue;
  }

  &__label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }

  
  /* BOTTOM BARS ================================= */
  &__input {
    &--bar {
      position: relative;
      display: block;
      width: 100%;
    }

    &--bar:before,
    &--bar:after {
      content: "";
      height: 2px;
      width: 0;
      bottom: 1px;
      position: absolute;
      background: cornflowerblue;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }
    &--bar:before {
      left: 50%;
    }
    &--bar:after {
      right: 50%;
    }

    /* active state */
    &:focus ~ &--bar:before,
    &:focus ~ &--bar:after {
      width: 50%;
    }

    /* HIGHLIGHTER ================================== */
    &--highlight {
      position: absolute;
      height: 60%;
      width: 100%;
      top: 25%;
      left: 0;
      pointer-events: none;
      opacity: 0.1;
    }

    /* active state */
    &:focus ~ &--highlight {
      -webkit-animation: inputHighlighter 0.3s ease;
      -moz-animation: inputHighlighter 0.3s ease;
      animation: inputHighlighter 0.3s ease;
    }
  }
  
}

@media only screen and (max-width: 900px) {
  .signIn {
    &__formulee { 
      width: 100%;

      border: none;
    }
  }
}
.select-css {

  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding:0 3.5%;

  max-width: 100%; /* useful when width is set to anything other than 100% */
  box-sizing: border-box;
  margin: 0;
  border:none;
  border-bottom: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: 5px;
  margin:0 1vh;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  /* note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient. 
      for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon or an external image reference
      
  */
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
  background-position: right .7em top 50%, 0 0;
  /* icon size, then gradient */
  background-size: .65em auto, 100%;
}
