@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");

.payment {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  &__block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 3px solid silver;
    color:white;
    min-width: 20vh;
    min-height: 20vh;
    border-radius: 50%;
    margin: 1%;
    background-color: rgba(black, 0.6);
    transition: .5s ease-in-out;
    &:hover {
      cursor: pointer;
      background-color: rgba(black, 0.8);
    }
  }
  &__title {
    width: 100%;
    padding: 5%;

    font-size: 2.5vh;
    font-weight: 550;
    text-align: center;
  }
  &__value {
    padding-left: 10%;
    text-align: left;
    font-size: 1.5vh;
  }
}

