$bgurl: "https://wallpapersprinted.com/download/2/coffee_break-wallpaper-2560x1600.jpg";

.account {
  color: white;
  display: flex;
  //min-height: 100vh;
  width: 100%;
  justify-content: flex-end;
  align-items: center;

  &__text {
    margin-bottom: 10%;
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    font-family: Roboto;
    background-color: rgba($color: black, $alpha: 0.8);
    padding: 5%;
    border: 1px solid #757575;
    border-radius: 15px;
  }
  
  &__button {
    color: white;
    font-family: Roboto;
    font-weight: 700;
    align-content: center;
    padding: 2%;
    width: 100%;
    border:1px solid black;
    background-color: rgba(black, 0.1);
    transition: background-color 0.3s;
    &:hover {

      background-color: rgba(black, 0.8);
      cursor: pointer;
    }
  }  

  //input_material-ui
  &__field {
    position: relative;
    margin-bottom: 45px;
    width: 100%;
  }

  &__input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575;
    &:focus {
      outline: none;
      //background-color: darken($color: white, $amount: 3);
    }
  }

  &__input:focus ~ label,
  &__input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: cornflowerblue;
  }

  &__label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }

  /* BOTTOM BARS ================================= */
  &__input {
    &--bar {
      position: relative;
      display: block;
      width: 100%;
    }

    &--bar:before,
    &--bar:after {
      content: "";
      height: 2px;
      width: 0;
      bottom: 1px;
      position: absolute;
      background: cornflowerblue;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }
    &--bar:before {
      left: 50%;
    }
    &--bar:after {
      right: 50%;
    }

    /* active state */
    &:focus ~ &--bar:before,
    &:focus ~ &--bar:after {
      width: 50%;
    }

    /* HIGHLIGHTER ================================== */
    &--highlight {
      position: absolute;
      height: 60%;
      width: 100%;
      top: 25%;
      left: 0;
      pointer-events: none;
      opacity: 0.1;
    }

    /* active state */
    &:focus ~ &--highlight {
      -webkit-animation: inputHighlighter 0.3s ease;
      -moz-animation: inputHighlighter 0.3s ease;
      animation: inputHighlighter 0.3s ease;
    }
  }
  //end_input_material-ui
}

@media only screen and (max-width: 900px) {
  .account {
    &__container {
      width: 100%;
      height: 100%;
      border: none;
      padding-top:20%;
    }
    &__text{
      display: none;
    }
  }
}
